<!DOCTYPE html>
<html ng-app="test-park">
<head lang="en">
    <meta charset="UTF-8">
    <title>NGTestPark - Hello World</title>
</head>
<body ng-controller="digestCtrl">

Foo : <div id="foo-id">{{foo}}</div>
<br/><br/>
Bar : <div id="bar-id">{{bar}}</div>


<a href="" ng-click="runFoo()" id="runFoo">Run foo</a>
<a href="" ng-click="runBar()" id="runBar">Run bar</a>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="./scripts.js"></script>
</body>
</html>